default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: traveler_development

test:
  <<: *default
  database: traveler_test

production:
  <<: *default
  database: traveler_production
  username: traveler
  password: <%= ENV['TRAVELER_DATABASE_PASSWORD'] %>
